/*body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f0f0f;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

html, body, #game-container {
    margin: 0px;
    
    height: 100dvh;
    width: 100dvw;

    background: #d7d7d7;
    overflow: hidden;
}